<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HavenHub">
        <activity
            android:name=".EditPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".dataManegerActivity"
            android:exported="false" />
        <activity
            android:name=".visitorManegerActivity"
            android:exported="false" />
        <activity
            android:name=".repairManegerActivity"
            android:exported="false" />
        <activity
            android:name=".kaoQinManegerActivity"
            android:exported="false" />
        <activity
            android:name=".suSeManegerActivity"
            android:exported="false" />
        <activity
            android:name=".studentManegerActivity"
            android:exported="false" />
        <activity
            android:name=".setingActivity"
            android:exported="false" />
        <activity
            android:name=".MainPageActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityRegister"
            android:exported="false" />
        <activity
            android:name=".ActivityLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>